@font-face {
    font-family: "pt_sansbold";
    src: url("../fonts/ptsans_bold_macroman/PTS75F-webfont.eot");
    src: url("../fonts/ptsans_bold_macroman/PTS75F-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ptsans_bold_macroman/PTS75F-webfont.woff2") format("woff2"),
         url("../fonts/ptsans_bold_macroman/PTS75F-webfont.ttf") format("truetype"),
         url("../fonts/ptsans_bold_macroman/PTS75F-webfont.woff");
    font-style: normal;
    font-weight: bold;
 }

@font-face {
    font-family: "pt_sansregular";
    src: url("../fonts/ptsans_regular_macroman/PTS55F-webfont.eot");
    src: url("../fonts/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ptsans_regular_macroman/PTS55F-webfont.woff2") format("woff2"),
         url("../fonts/ptsans_regular_macroman/PTS55F-webfont.ttf") format("truetype"),
         url("../fonts/ptsans_regular_macroman/PTS55F-webfont.wof");
    font-style: normal;
    font-weight: normal;
 }
 @font-face {
    font-family: "pt_sans_captionregular";
    src: url("../fonts/ptsanscaption_regular_macroman/PTС75F-webfont.eot");
    src: url("../fonts/ptsanscaption_regular_macroman/PTС75F-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ptsanscaption_regular_macroman/PTС75F-webfont.woff2") format("woff2"),
         url("../fonts/ptsanscaption_regular_macroman/PTС75F-webfont.ttf") format("truetype"),
         url("../fonts/ptsanscaption_regular_macroman/PTС75F-webfont.woff");
    font-style: normal;
    font-weight: bold;
 }
	